@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Regular.woff2);
    font-weight: 400;
    font-display: swap; 
}
.container{
    background: center/cover url(../image/fon.png) no-repeat ;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
}
.contacts{
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    align-self: end;
}
a[href^="mailto:"]:hover, 
a[href^="tel"]:hover {
    color: #F26522;
}
.logo-text {
    text-transform: uppercase;
    font-size: 29px;
    font-weight: 700;
    display: grid;
}
a { display: block;
    color: #FFFFFF;
    text-decoration: none;
}
.logo-text span {
    font-size: 18px;
    text-transform: uppercase;
    padding-top: 3px;
}
.main-contant{
    max-width: 1030px;
    margin: 0 auto;
}
.block-images{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 29%);
    grid-template-rows: repeat(2, 260px);
    row-gap: 36px;
    justify-content: space-between;
    padding-bottom: 50px;
} 
.image-contant{
    box-sizing: border-box;
    object-fit: cover;
    width: 100%;
    height: 220px;
    border-width: 3px;
    border-style: solid;
    border-image: 
    linear-gradient(to bottom, #FFF, #000)1;
}
.logo-contacts {
    display: flex;
    justify-content: space-between;
}
.logo-contacts{
    padding-top: 46px;
    padding-bottom: 18px;
}
.img-logo {
    padding-right: 8px;
}
.email{
    padding-bottom: 20px;
}
.telephon{
    text-align: end;
}
.type-tourism{
    padding-top: 20px;
    text-align: center;
    font-size: 20px;
}
.Copyright{
    text-align: center;
    font-size: 12px;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translate(-50%);
}
.header-logo:hover {
    color: #F26522; 
    background: url(../image/logo2.png) no-repeat;
}
.logo-text{
    padding-left: 58px;
}
.header-logo {
    display: flex;
    background: url(../image/logo3.png) no-repeat;
    height: 47px; 
}
.items {
    position: relative;
}
.img-logo {
    background: url(../image/logo3.png) no-repeat; 
    width: 53px; 
    height: 47px; 
   }
.img-logo:hover {
    background: url(../image/logo2.png) no-repeat;
}
.wraper{
    position: relative;
    overflow: hidden;
}
.orange-block{
    position: absolute;
    bottom: -55px;
    color: #FFFFFF;
    background: #F26522;
    width: 100%;
    height: 55px;
}
.details::after {
    content: "\276F";
    width: 100px;
    color: #FFFFFF;
    padding-left: 16px; 
}
.items:hover{
    color:#F26522;
}
.items:hover .orange-block{
    bottom: 0px;
    transition: 0.8s; 
 }
.price-details{
    display: flex;
}
.price,
.from {
    padding-left: 16px;
}
.details {
    padding-left:42%;
}
.from {
    padding-top: 6px;
    padding-bottom: 8px;
    font-size: 10px;
}
.price{
    font-size: 20px;
}
.details {
    font-size: 14px;
}
